http://gatus.home {
    redir https://gatus.home{uri} 302
}

http://adguard.home {
    redir https://adguard.home{uri} 302
}

http://proxmox.home {
    redir https://proxmox.home{uri} 302
}

http://192.168.1.254 {
    redir https://192.168.1.254{uri} 302
}

http://100.67.156.34 {
    redir https://100.67.156.34{uri} 302
}

https://proxmox.home {
    tls internal
    reverse_proxy https://192.168.1.252:8006 {
        transport http {
            tls_insecure_skip_verify
        }
    }
}

https://gatus.home {
    tls internal
    reverse_proxy 10.0.0.101:8080
}

https://adguard.home {
    tls internal
    reverse_proxy 192.168.1.10:80
}

https://192.168.1.254 {
    tls internal
    reverse_proxy 10.0.0.101:8080
}

https://100.67.156.34 {
    tls internal
    reverse_proxy 10.0.0.101:8080
}

https://100.67.156.34:8006 {
    tls internal
    reverse_proxy https://192.168.1.252:8006 {
        transport http {
            tls_insecure_skip_verify
        }
    }
}

http://opencode.home {
    reverse_proxy 10.0.0.9:4096
}

https://opencode.home {
    tls internal
    reverse_proxy 10.0.0.9:4096
}

https://100.67.156.34:4096 {
    tls internal
    reverse_proxy 10.0.0.9:4096
}

http://stremio.home {
    reverse_proxy 10.0.0.9:11470
}

https://stremio.home {
    tls internal
    reverse_proxy 10.0.0.9:11470
}

https://100.67.156.34:11470 {
    tls internal
    reverse_proxy 10.0.0.9:11470
}
